<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base-style.css">
    <link rel="stylesheet" href="/static/css/navigations.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/facility.css">
    <title>Delight Hotels | Facility </title>
</head>
<body>
    <section id="facility-main-wrapper">
            <header class="facility-header">
                <img src="/static/images/facilitiesImage.jpg" class="facility-image" alt="facility image">
                <div class="nav-container">
                <div id="nav-wrapper">

                    <nav>
                        <a class="navbar_brand" href="/home">
                            <img class="site-logo" src="/static/images/Delight_Hotels.svg" width="194" height="44" alt="site logo"> 
                        </a>
                        <div class="hamburger">
                          <div class="line"></div>
                          <div class="line"></div>
                          <div class="line"></div>
                        </div>
                            <ul class="link_container">
                                <li>
                                    <a href="/rooms">Rooms</a>
            
                                </li>
                                <li>
                                    <a class="current" href="/fac">Facilities</a>
                                </li>
                                <li>
                            </ul>
                      </nav>
                      </div>    
                </div>
            </header>

            <!-- end of main header -->
            <!--start of section facilities-->
        <section class="facility-main">
            <section class="facility-inner">

            <!--start of facilities header-->
            <div class="head">
                <h2 class="head__h2">our services and facilities</h2><hr>
            </div>
            <!--end of facilities header-->

            <!--start of grid tag-->

                <!--start of grid tag for spa-->
                <section class="gridsty">
                    <div class="gridsty__img">
                        <img src="/static/images/spa.png" alt="A lady being massaged">
                    </div>
                    <div class="gridsty__text">
                        <h3>Spa - Beauty & Health</h3>
                        <p>We believe comfort and wellness go hand in hand, therefore we offer spa services to help provide relaxation and stress relief. We have one of the best masseurs in the country that offer top notch services</p>
                    </div>
                </section>
                <!--end of grid tag for spa-->

                <!--start of grid tag for gym-->
                <section class="gridsty" id="gridsty__gym">
                    <div class="gridsty__img">
                        <img src="/static/images/gym.png" alt="Gym Equipments">
                    </div>
                    <div class="gridsty__text" >
                        <h3>Gym - Fitness & Health</h3>
                        <p>We believe comfort and wellness go hand in hand, therefore we offer spa services to help provide relaxation and stress relief. We have one of the best masseurs in the country that offer top notch services</p>
        
                    </div>
                </section>
                
               
    
                <!--end of grid tag for gym-->

                <!--start of grid tag for laundry-->
                <section class="gridsty">
                    <div class="gridsty__img">
                        <img src="/static/images/laundry.png" alt="Laundry machine">
                        </div>
        
                        <div class="gridsty__text">
                            <h3>Laundry</h3>
                            <p>We believe comfort and wellness go hand in hand, therefore we offer spa services to help provide relaxation and stress relief. We have one of the best masseurs in the country that offer top notch services</p>
                        
                        </div>
                </section>
                

            <!--end of grid tag for laundry-->
            
            <!--end of grid tag-->
        </section>

        </section>
        <!--end of section facilities-->
        
            <footer>
                <section id="inner-footer">
                    <ul>
                        <li>
                            <a href="/rooms">Rooms</a>
        
                        </li>
                        <li>
                            <a href="/fac">Facilities</a>
                        </li>

                        
                    </ul>
                    <p class="footer-copyright">Delight Hotels Copyright 2020</p>
                </section>
            </footer>


    </section>
    <script src="/static/js/scripts.js"></script>
</body>
</html>